<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeremy's Website</title>
    <link rel="stylesheet" href="../resources/css/style.css"">
    <script src="https://kit.fontawesome.com/82473096d7.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
            <a href="../index.html">HOME</a>
            <a href="hobbies.html">HOBBIES</a></li>
            <a href="projects.html">PROJECT</a></li>
            <a href="resume.html">RESUME</a></li>
            <a href="../index.html" class="logo"><img src="../resources/img/logo.png" alt="gengar"></a>
    </nav>

</header>

    <main>
        <h1>HOBBIES</h1>
            <div class="hobbies-container">
                <div class="card">
                    <img src="../resources/img/img2.jpg" alt="Photography">
                    <h3>Photography</h3>
                    <p>At the beginning of High School, My sister got her first camera and I was always facinated about Photography. I thought it was such a cool thing to be a photographer. I got my first camera at the end of High School where I fell in love with photography. At the moment I am trying to dip my toes into videograpy for cars.</p>
                </div>
                <div class="card">
                    <img src="../resources/img/img4.png" alt="Cars">
                    <h3>Cars</h3>
                    <p>At first I hated cars and thought "Car Guys" were douches but I went down a rabbit hole of people building cars and I was so interested in it. I would just binge youtube videos everyday on cars and looked into car parts for my car. I love how cars can sound and the way you are able to make them look. To add to my passion I started playing more car games and I loved how they looked and felt.</p>
                </div>
                <div class="card">
                    <img src="../resources/img/img3.jpg" alt="Gaming">
                    <h3>Gaming</h3>
                    <p>At an early age I was introduced into the world of Gaming and I was hooked right away. I remember when I was in Elementary School, I would go to my cousins house every weekend to play on their xbox. Which then caused me to get my own xbox later. Then in High School I finanly got my PC which I had very fond memories on.</p>
                </div>
            </div>
    </main>
    
    <footer>
        <a href="https://x.com/jtghchau" target="_blank">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="https://github.com/jtghchau" target="_blank">
            <i class="fa-brands fa-github"></i> GitHub
        </a>
    </footer>
</body>
</html>
